// Colors

$theme-colors: (
  "primary": #353535
) !default;
$black: #000;
$c-dark-grey: #181d23;
$c-dark-grey-1: #353535;
$c-havelock-blue: #5087d9;
$c-grey: #555a60;
$c-cream: #efefef;
$c-nose: #7dca78;
$c-supernova: #ffcd00;
$c-light-blue: #8bb5f4;
$c-box-bd: rgba(#525252, 0.8);
$c-main-bg: #edece8;
$c-footer-bg: #3269bb;
$body-color: $c-dark-grey-1;
$c-bullet: #feb103;
$c-stat-box-bg: #fe6869;
$form-text: #919191;
$building-box-bg: #f0efee;

// Typography

$font-open-sans-h: 'Open Sans Cond H', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-practica: 'Practica', Arial, sans-serif;
$font-practica-narrow: 'PracticaNarrow', Arial, sans-serif;

$font-family-sans-serif: $font-practica;
$font-family-base: $font-family-sans-serif;
$headings-font-family: null;

$line-height-lg: 1.3;
$line-height-sm: 1.3;
$headings-font-weight: 700;

$fz-desktop: 19px;
$fz-md: 18px;
$fz-lg: 20px;

$font-size-base: 1rem;

$h1-font-size: px-to-rem(52);
$h2-font-size: px-to-rem(42);
$h3-font-size: px-to-rem(22);
$h4-font-size: px-to-rem(20);
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weights: (
  thin: 100,
  hairline: 100,
  extra-light: 200,
  ultra-light: 200,
  light: 300,
  regular: 400,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  demi-bold: 600,
  bold: 700,
  extra-bold: 800,
  ultra-bold: 800,
  black: 900,
  heavy: 900,
);

$social-colors: (
  facebook: #3b5998,
  linkedin: #50778b,
  twitter: #55acee,
  email: #666,
);

$margin-sides: 'bottom', 'top', 'left', 'right';

$margin-sizes: (
  none: 0,
  small: 2rem,
  medium: 6rem,
  large: 12rem,
);

$shell-max-width-lg: 1920px;
$shell-max-width-sm: 1260px;
$shell-padding: 15px;

/**
 *
 * Grid Breakpoints
 *
 */

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1330px,
  xxl: 1440px,
  xxxl: 1921px,
  xxxxl: 2501px,
);

/**
 *
 * Transitions
 *
 */

$trs: 0.3s;

/**
  *
  * Custom breakpoints
  *
  */

$breakpoint-responsive-adminbar-mobile: 600px;
$breakpoint-responsive-adminbar-tablet: 782px;
$breakpoint-responsive-xs-down: 479px;

// Admin Bar
$adminbar-height-desktop: 32px;
$adminbar-height-tablet: 46px;

/**
 *
 * Misc
 *
 */

$box-shadow: 0 9px 17px rgba($black, 0.15);
$box-shadow-darker: 0 9px 10px rgba($black, 0.25);
$box-shadow-header: 0 3px 8px rgba($black, 0.2);
