
@import '../../airfleet/styles/theme/theme/variables';
@import '../../airfleet/styles/theme/shared/variables';
@import 'bootstrap';
@import '~aos/dist/aos.css';
@import '../../airfleet/styles/theme/theme/vendor/swiper';
@import '../../airfleet/styles/theme/theme/mixins/index';
@import '../../airfleet/styles/theme/theme/generic/index';
@import '../../airfleet/styles/theme/theme/components/button';
@import '../../airfleet/styles/theme/theme/components/header';
@import '../../airfleet/styles/theme/theme/components/navbar';
@import '../../airfleet/styles/theme/theme/components/nav-main';
@import '../../airfleet/styles/theme/theme/components/footer';
@import '../../airfleet/styles/theme/theme/blocks/testimonials';
@import '../site';
@import '../_partials/contact-dialog';
@import '../_partials/newsletter-reg';
@import '../_partials/testimonials-slider';

body {
    color: #444;
    background-color: #D28E7E;
    font-family: "Practica", Arial, sans-serif;
    font-size: 18px;
    text-align: right;
}

.page-bg {
    background-color: #fff;
}

.page-width-limiter {
    max-width: 1330px;
    margin: auto;
    position: relative;
}

section.hero {
    background-color: #D28E7E;
    overflow: hidden;
    text-align: center;
    position: relative;

    .hero-title {
        text-align: right;
    }

    
    &:after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 75%);
        background-repeat: no-repeat;
    }
    
    .banner {
        margin-top: 110px;
        height: 340px;

        img {
            position: absolute;
            right: 50%;
            bottom: 0;
            transform: translateX(50%);
            height: 100%;
            width: auto;
            max-width: unset;
            will-change: opacity;
            backface-visibility: hidden;

            &.bg {
                width: 100vw;
                max-width: unset;
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
}

section.bg-spacer-blue {
    height: 200px;
    background-color: #8BB5F4;
}

footer.footer {
    background-color: #5087D9;
    padding-top: 20px;
}