<html dir="rtl" lang="he-IL">

<head>
    <%= require('html-loader?attributes=false!../_partials/head-start.html') %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
</head>

<body>
    <%= require('html-loader?attributes=false!../_partials/body-start.html') %>
    <%= require('html-loader?attributes=false!../_partials/header.html') %>

    <section class="hero">
        <div class="ts-width-limiter">
            <div class="banner">
                <img src="../assets/example/banner-bg.svg" class="bg" />
                <img src="../assets/example/banner-room.svg" />
            </div>
        </div>
        <div class="hero-title">
            <div class="page-width-limiter">
                <h1 class="main">
                    main title
                </h1>
                <h2 class="sub">
                    <p>
                        sub title
                    </p>
                </h2>
            </div>
        </div>

    </section>

    <div class="page-bg">

        <section class="block_testimonials multi">
            <div class="block_testimonials_background">
                <img src="/assets/testimonial-buildings.svg" />
            </div>
            <div class="block_testimonials_decorative_image">
                <!--img src="/assets/frontpage/testimonial-dec.svg" /-->
            </div>
            <div class="block_testimonials_head">
                <h2 class="block_testimonials_title">מה אומרים עלינו</h2>
            </div>
            <div class="block_testimonials_slider" data-autoplay="true" data-autoplay-delay="20">
                <div class="block_testimonials_slider_wrapper">
                    <!--
                    <div class="block_testimonials_slider_slide">
                        <div class="box-testimonial">
                            <a href="https://www.facebook.com/koral.sokolik/posts/10219345642406168"
                                class="c-link box-testimonial__link" target="_blank"></a>
                            <div class="box-testimonial__quotes">
                                <img src="/assets/quotes-icon-1.svg" class="c-image" alt="" height="33"
                                    width="46" />
                            </div>
                            <div class="box-testimonial__body">
                                <blockquote>
                                    &#8230; מיותר לציין שחיותא
                                    החזירו את הסכום ללא כל בעיה.
                                    דמבי ואני מודות לדורון ונינה על
                                    הטיפול המסור והדאגה כל פעם מחדש.
                                    בביטוח של חיותא אין מצידם חוכמות
                                    והתחכמויות, מה שמגיע מגיע והם
                                    מחזירים באהבה והתרגשות גדולה❣️
                                    תודההה&quot;
                                </blockquote>
                            </div>
                            <div class="box-testimonial__head">
                                <div class="box-testimonial__image">
                                </div>
                                <div class="box-testimonial__author">
                                    <h5>קורל סוקוליק</h5>
                                    <p>לקוחה</p>
                                </div>
                                <div class="box-testimonial__icon box-testimonial__icon--facebook"></div>
                            </div>
                        </div>
                    </div>
                    <div class="block_testimonials_slider_slide">
                        <div class="box-testimonial">
                            <a href="https://www.facebook.com/koral.sokolik/posts/10219345642406168"
                                class="c-link box-testimonial__link" target="_blank"></a>
                            <div class="box-testimonial__quotes">
                                <img src="/assets/quotes-icon-1.svg" class="c-image" alt="" height="33"
                                    width="46" />
                            </div>
                            <div class="box-testimonial__body">
                                <blockquote>
                                    &#8230; מיותר לציין שחיותא
                                    החזירו את הסכום ללא כל בעיה.
                                    דמבי ואני מודות לדורון ונינה על
                                    הטיפול המסור והדאגה כל פעם מחדש.
                                    בביטוח של חיותא אין מצידם חוכמות
                                    והתחכמויות, מה שמגיע מגיע והם
                                    מחזירים באהבה והתרגשות גדולה❣️
                                    תודההה&quot;
                                </blockquote>
                            </div>
                            <div class="box-testimonial__head">
                                <div class="box-testimonial__image">
                                </div>
                                <div class="box-testimonial__author">
                                    <h5>קורל סוקוליק</h5>
                                    <p>לקוחה</p>
                                </div>
                                <div class="box-testimonial__icon box-testimonial__icon--facebook"></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="block_testimonials_nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <section class="bg-spacer-blue"></section>
    </div>

    <footer class="footer">
        <div class="ts-width-limiter">
            <div class="generic-animals-footer">
                <div class="layer1">
                    <img src="/assets/flowers-layer1-footer.svg" class="" />
                </div>
                <img src="/assets/animals-footer.svg" class="animals" />
                <div class="layer2">
                    <img src="/assets/flowers-layer2-footer.svg" class="" />
                </div>
            </div>
        </div>
        <%= require('html-loader?attributes=false!../_partials/footer-shell.html') %>
    </footer>

    <%= require('html-loader?attributes=false!../_partials/contact-dialog.html') %>

    <script type="text/javascript" src="https://kit.fontawesome.com/80ca75e68d.js?ver=2.10.3"></script>
</body>

</html>