.ts-width-limiter {
    max-width: 2550px;
    margin: auto;
    position: relative;
}

.logo {
    display: block;
    width: 82px;

    @include mobile-sm-up {
        width: 124px;
    }
}


.wp-block-quote {
    border-right: 4px solid #000;
    margin: 0 0 28px;
    padding-right: 1em;
}

.blackened {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        top: 0;
        left: 0;
        opacity: .7;
    }
}

.modal-blocker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    padding: 0em 1em;

    &.on {
        opacity: 1;
        pointer-events: unset;

        .video-wrapper {
            opacity: 1;
        }
    }

    .modal-positioner {
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
        width: 640px;
        max-width: 100%;
        margin: auto;
    }

    .popup {
        background-color: #eee;
        text-align: center;
        box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, .2);

        .modal-close-button {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 20px;
        }
    }

    .video-positioner {
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
        max-width: 800px;
        margin: auto;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
        transition: opacity 1.5s ease-in;
        transition-delay: 1000;
        opacity: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 4px;
        }
    }
}

section.hero {
    .hero-title {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        color: #fff;
        padding: 0px 27px;
        z-index: 1;

        .main {
            font-family: PracticaNarrow, Arial, sans-serif;
            font-size: 32px;
            font-weight: normal;

        }

        .sub {
            font-size: 16px;
            font-weight: normal;
        }

        @include mobile-sm-up {
            padding: 0px 40px;

            .main {
                font-size: 40px;
            }
        }

        @include tablet-up {
            top: 100px;

            .sub {
                font-size: 19px;
            }
        }

        @include tablet-large-up {
            .main {
                font-size: 56px;
            }
        }

        @include desktop-up {
            .main {
                font-size: 42px;
            }

            .sub {
                font-size: 21px;
            }
        }
    }
}

::-webkit-scrollbar {
    background: #5087d9;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.c-button-collection {
    list-style: none;
}