#contact-dialog {
    display: none;

    .popup {
        background-image: url(./assets/contact-dlg-big.svg);
        background-position: top center;
        background-size: cover;
        color: #fff;
        font-family: Practica, Arial, sans-serif;
        font-size: 12px;
        padding: 50px 25px 40px;
        transition: transform 1s ease;
        transform: scale(0);
        border-radius: 5px;

        h2 {
            font-size: 38px;
            line-height: 40px;
            font-family: "PracticaNarrow", Arial, sans-serif;
            font-weight: 300;
            
        }

        input[type=text],
        input[type=name],
        input[type=tel],
        input[type=email] {
            height: 50px;
            border-radius: 50px;
            width: 100%;
            border: 1px solid #c6c6c6;
            margin: .5em 0;
            box-shadow: 0 6px 12px rgba(0,0,0,.2);
            padding: 0 25px;
            font-size: 1.2em;

            &:focus {
                outline: 0px;
            }
        }

        .combine {
            display: flex;
            border-radius: 50px;
            box-shadow: 0 6px 12px rgba(0,0,0,.2);
            margin: 0.5em 0;

            input {
                width: 50%;
                border-radius: 0px;
                box-shadow: none;
                margin: 0;

                &:first-child {
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }

                &:last-child {
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                }
            }
        }

        button {
            font-size: 1.6em;
            padding: .5em 3em .4em;
            border-radius: 50px;
            border: 0;
            background: #ffcd00;
            font-weight: 600;
            box-shadow: 0px 5px 10px rgba(0,0,0,.2);
        }

        .modal-close-button {
            color:#333;
            cursor: pointer;
        }
    }

    &.on {
        .popup {
            transform: scale(1);
        }
    }

    @include tablet-up {
        .popup {
            background-image: url(./assets/contact-dlg-big.svg);
            min-height: 600px;
            padding: 50px 75px 40px;

            h2 {
                font-size: 35px;
                line-height: 35px;
            }
        }
    }
}