<div id="contact-dialog" class="modal-blocker ts-modal-dialog">
    <div class="modal-positioner">
        <div class="popup">
            <h2>כמה פרטים, ונתקשר עם הצעה במיוחד בשבילך</h2>
            <form
                action="https://chat.chayuta.com/GenLead/9"
                method="POST"
                > 
                <input type="hidden" name="extra_data" value="">
                <input type="hidden" name="retURL" value="https://chayuta.com/campaigns/lp/thanks.html">
                <input type="hidden" name="failURL" value="https://chayuta.com/campaigns/lp/oops.html">
                <input type="hidden" name="extra" value="pop up">
                <div class="combine">
                    <input type="text" name="firstName" placeholder="שם פרטי" required="">
                    <input type="text" name="lastName" placeholder="שם משפחה" required="">
                </div>
                <input type="tel" name="phone" placeholder="מס' טלפון..." required=""><br>
                <input type="email" name="email" placeholder="אימייל (אופציונאלי)"><br>
                <div style="font-size: 1.3em;">
                    <input type="checkbox" name="allows_marketing" checked=""> אני רוצה
                    לדעת גם על מבצעים, הטבות או כל דבר מעניין שיש לכם
                    לשתף.
                </div>
                <br>
                <button type="submit">שלח אותי</button>
            </form>
            <div class="modal-close-button"><i class="fa fa-times"></i></div>
        </div>
    </div>
</div>