<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WX27Q9L');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="seo" content="seo"/>
<link rel="icon" href="/cropped-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/cropped-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/cropped-favicon-180x180.png" />
<meta name="msapplication-TileImage" content="/cropped-favicon-270x270.png" />
<meta property="og:image" content="https://chayuta.com/cropped-favicon-270x270.png" />

<link rel="preload" href="/fonts/PracticaNarrow.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="https://kit.fontawesome.com/80ca75e68d.js?ver=2.10.3" as="script" />
<link rel="preload" href="/fonts/Practica.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/PracticaNarrow-Bold.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/lato-v16-latin-regular.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/PracticaLight.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/Practica-Bold.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/OpenSansHebrewCondensed-Regular.woff2" as="font" crossorigin="anonymous" />
<link rel="preload" href="/fonts/OpenSansHebrewCondensed-ExtraBold.woff2" as="font" crossorigin="anonymous" />

