<form>
    <div class="newsletter-reg">
        <div>
            <input type="email" placeholder="כתובת דוא&quot;ל" required/>
            <button>הרשמה</button>
        </div>
        <div>
            
        </div>
    </div>
</form>