.newsletter-reg {
    display: flex;
    flex-direction: column;

    div:first-child {
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 467px;
        margin: auto;
        box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.15);
        border-radius: 30px;

        input {
            width: 100%;
            max-width: 400px;
            height: 52px;
            border-radius: 30px;
            padding-right: 25px;
            padding-left: 85px;
            border: 1px solid rgba(255, 255, 255, .2);
            border-top: 1px;
            outline: none;
        }

        button {
            font-family: PracticaNarrow, Arial, sans-serif;
            margin-right: -67px;
            width: 133px;
            height: 52px;
            border-radius: 30px;
            background-color: #FEB103;
            color: #181D23;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                background-color: #d6e2f4;
            }
        }
    }
    div:last-child {
        background-color: #e6272799;
        margin: auto;
        width: 85%;
        max-width: 300px;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        padding: .3em 1em;
        transform: scaleY(0) translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease;
        &.info {
            background-color: #0abf7999;
        }
        &.on {
            opacity: 1;
            transform: scaleY(1) translateY(0);
        }
    }
}