.block_testimonials {
    position: relative;
    background-color: #edece8;
    padding-top: 40px;

    &_background,
    &_decorative_image  {
        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &_decorative_image {
        img {
            transform: translateX(-50%) translateY(80%);
        }
    }

    &_head {
        text-align: center;

        h2 {
            font-family: "PracticaNarrow", Arial, sans-serif;
            font-size: 32px;
            font-weight: 400;
        }
    }

    &_slider {
        position: relative;
        height: 450px;
        max-width: 1035px;
        padding: 20px;
        padding-top: 0;
        transform: translateY(55px);
        z-index: 1;
        
        margin: auto;
        overflow: hidden;

        &_wrapper {
            box-sizing: content-box;
            display: flex;
            height: 100%;
            position: relative;
            transition-property: transform;
            width: 100%;
            z-index: 1;
            transform: translate3d(0, 0, 0);

            .block_testimonials_slider_slide {
                flex-shrink: 0;
                position: relative;
                max-width: 303px;

                .box-testimonial {
                    .box-testimonial__body {
                        max-height: 220px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    &_nav {
        bottom: 200px;
        height: 0;
        width: 100%;
        max-width: 1159px;
        justify-content: space-between;
        left: 50%;
        right: auto;
        padding: 0 15px;
        position: absolute;
        transform: translateX(-50%);
        display: flex;
        z-index: 2;
        display: none;
        

        .swiper-button-prev,
        .swiper-button-next {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/assets/slider-testimonial-arrow.svg);
            cursor: pointer;
            height: 33px;
            width: 17px;
            outline: 0;
        }

        .swiper-button-next {
            transform: rotate(-180deg);
        }
    }
}

@include tablet-up {
    .block_testimonials {
        &_slider {
            max-width: 660px;
        }

        &_nav {
            display: flex;
            max-width: 750px;
        }
    }
}

@include desktop-md-up {
    .block_testimonials {
        &_slider {
            max-width: 1000px;
        }

        &_nav {
            display: flex;
            max-width: 1150px;
        }
    }
}
